.container {
  max-width: 390px;
  /* height: 905px; */
  height: 100vh;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.carInfo {
  display: flex;
  gap: 10px;
  padding: 9px;
}

.iconCar {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.carModel {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.bottomContainer {
  padding: 14px 0;
}
.firstContainer,
.secondContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondContainer {
  width: fit-content;
  margin-top: 23px;
  padding: 10px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: #2e393f;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.millageInfo {
  display: flex;
  gap: 13px;
  /* width: 212px; */
  height: 40px;
  padding: 0px 14px;
  align-items: center;
  border-radius: 6px;
  background: rgba(67, 164, 141, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.speedIcon {
  fill: #99a443;
  width: 18px;
  height: 16.5px;
}

.millageText {
  color: #99a443;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.TOText {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.speedIconSecond {
  width: 18px;
  height: 16.5px;
}

.millage {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.thirdContainer {
  margin-top: 16px;
  display: flex;
  max-width: 329px;
  padding: 10px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  /* background: var(--bg-secondary); */
  background: #161617;
}

.list {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.doneList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.doneItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.doneItem span {
  font-weight: 400; /* спробувала додати бо жироно 600 */
}

.doneItem input[type='checkbox'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.doneItem input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  top: 43%;
  left: 50%;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.fourContainer {
  margin-top: 19px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
}

.totalSum {
  display: inline-flex;
  height: 38px;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(75, 164, 67, 0.08);
}

.receiptIcon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  fill: #f5dd23;
}

.invoices {
  display: flex;
  gap: 5px;
  align-items: center;
}

.fiveContainer {
  margin-top: 25px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.photoGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.photoItem {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: hidden;
}

.photo {
  display: block;
  width: 96px;
  height: 77px;
  object-fit: cover;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.acceptBtn, .rejectBtn {
  display: flex;
  gap: 4px;
  width: 150px;
  height: 42px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: #e5d527;
  outline: none;
  border: none;

}

.rejectBtn{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--light-gray);
}
