.list {
  width: 350px;
  /* height: 429px; */
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 3.55vh; /* 30px */
  /* padding-top: 5px; */
  padding: 0 9px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
  min-height: 0;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg);
}

.list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  /* gap: 20px;
  margin-top: 4px; */
}

.label {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;

  /* width: 193px; */
  /* width: 193px; */
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 42px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 42px;
  height: 15px;
  background-color: var(--light-gray-table);
  border-radius: 25px;
  transition: 0.4s;
  cursor: pointer;
}

.sliderForSecondModal {
  cursor: default;
}

.slider::before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;

  left: 0px;
  bottom: -5px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider::before {
  transform: translateX(18px);
}
