.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 318px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1; /* займає весь простір, що залишився */
  overflow-y: auto;
  padding-bottom: 2vh; /* залишити місце під кнопки */
}

.cameraOn {
  /* height: 532px; */
  height: 66.169vh;
  min-height: 461px;
}

.video {
  width: 100%;
  /* height: 532px; */
  height: 66.169vh;

  margin-left: auto;
  margin-right: auto;
}

.carPhoto {
  /* height: 29vh; */
  /* aspect-ratio: 16 / 9; */
  width: auto;
  overflow: hidden;
  /* object-fit: cover; */
  margin-bottom: 1.5vh;
  border-radius: 6px;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.carImg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  object-position: center;
}

.topWrapper {
  height: 38px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  margin-bottom: 1.24vh;
}

.carNumberWrapper {
  width: 160px;
  height: 100%;
  border-radius: 5px;
  border: 2px solid var(--black);
  overflow: hidden;
  display: flex;
}

.numberWrapper {
  width: 13px;
  height: 100%;
  background-color: #00349a;
  padding: 5px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flagText {
  color: var(--white);
  font-family: Raleway, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.number {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  padding: 2px;
  color: var(--Dark-grey, #101010);
  font-family: Roboto, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  border: none;
  outline: none;
}

.btn {
  width: 147px;
  height: 100%;
  border-radius: 6px;
  background-color: var(--green-btn-normal);
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: var(--download-pdf-btn-bg);
  color: var(--input-text);
  cursor: auto;
}

.btn:hover {
  background-color: var(--green-btn-hover);
}

.btnIcon {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWithPopup {
  position: relative;
}

.inputWrapper {
  width: 100%;
  /* height: 43px; */
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--download-pdf-btn-bg);
  padding: 1vh 16px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input {
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--input-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--download-pdf-btn-bg);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textColor {
  color: var(--light-gray);
}

.placeholderColor {
  color: var(--input-text);
}

.arrow {
  width: 25px;
  padding: 4px 6px;
  height: 17px;
  border-radius: 6px;
  background-color: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrowIcon {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  fill: var(--icon-gray);
}

.arrowIconOpen {
  transform: rotate(180deg);
}

.mileageWrapper {
  /* height: 56px; */
  height: 5.35vh;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 1vh 16px;
  border-radius: 6px;
  background-color: rgba(67, 164, 141, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.mileageIcon {
  width: 18px;
  height: 17px;
  fill: #43a48d;
  flex-shrink: 0;
}

.mileage {
  background-color: transparent;
  /* color: var(--main-gray); */
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mileage::placeholder {
  color: var(--input-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mileageText {
  color: #43a48d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.cameraVinIcon {
  width: 27px;
  height: 20px;
  cursor: pointer;
}

.vinWrapper {
  position: relative;
}

.btnsWrapper {
  max-width: 318px;
  width: 100%;

  padding: 1vh 21px 0;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  /* display: grid; */
  /* gap: 20px; */
  /* grid-template-columns: 1fr auto 1fr; */
  align-items: end;
}

.isCameraOn {
  /* justify-content: flex-start; */
  gap: 18px;
}

.cross {
  fill: var(--bg-secondary);
}

.cancelBtn {
  max-width: 70px;
  max-height: 70px;
  width: 8.706vh;
  height: 8.706vh;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
}

.acceptBtn {
  max-width: 70px;
  max-height: 70px;
  width: 8.706vh;
  height: 8.706vh;
  border: none;
  border-radius: 50%;
  background-color: var(--green-btn-normal);
}

.check {
  fill: var(--bg-secondary);
}

.cameraBtn {
  width: 12.438vh;
  height: 12.438vh;
  max-width: 100px;
  max-height: 100px;
  border: none;
  border-radius: 145px;
  background-color: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cameraIcon {
  width: 54px;
  height: 43px;
}

.emptyDiv {
  max-width: 70px;
  max-height: 70px;
  width: 8.706vh;
  height: 8.706vh;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--red);
  font-size: 12px;
}
