.wrapper {
  width: 390px;
  height: 100vh;
  padding: 14px 30px;
  background-color: #2d3038;
  margin-left: auto;
  margin-right: auto;
}

.topPartWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.carNameBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carIcon {
  fill: var(--light-gray);
  width: 18px;
  height: 18px;
}

.carName {
  color: var(--white);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.mileageBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 15px; */

  width: 212px;
  height: 40px;
  padding: 0px 14px;
  /* gap: 18px; */
  flex-shrink: 0;
  border-radius: 6px;

  background-color: rgba(67, 164, 141, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mileageIcon {
  width: 18px;
  height: 18px;

  fill: #99a443;
}

.mileage {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #99a443;
}

.mileageNum {
  color: var(--main-gray);
}

.camera {
  width: 27px;
  height: 20px;
  flex-shrink: 0;
  aspect-ratio: 27/20;
  fill: var(--light-gray);
}
