.list {
  /* height: 212px; */
  /* height: 26.37vh; */
  width: 100%;
  padding-right: 18px;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 20px;

  overflow: auto;

  /* margin-bottom: 25px; */
  /* margin-bottom: 3.11vh; */
}

.listDone {
  /* margin-bottom: 25px; */
  /* margin-bottom: 3.11vh; */
}

.list::-webkit-scrollbar {
  /* width: clamp(5px, min(0.432vw, 0.741vh), 8px); */
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg);
}

.list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.listItem {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  /* justify-content: space-between; */
}

.time,
.car {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em;
  font-variant: small-caps;
}

.time {
  min-width: 50px;
  margin-right: 10px;
  text-align: center;
}

.iconBox {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon {
  width: 18px;
  height: 18px;
  fill: var(--green);
}

.iconRed {
  fill: var(--red);
}

.problem {
  color: var(--input-text);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em;
  font-variant: small-caps;
  width: 182px;
}

.carWrapper {
  margin-right: auto;
  width: 226px;
}

.stick {
  min-width: 4px;
  height: 100%;
  border-radius: 6px;
  background-color: white;

  margin-right: 8px;
}

.stickDiag {
  background-color: var(--status-diag);
}

.stickRepair {
  background-color: var(--status-repair);
}

.stickDone {
  background-color: var(--green);
}

.salary {
  color: #ffff8c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875em;
}

.salaryDone {
  color: var(--green);
}

.iconTick {
  width: 13px;
  height: 13px;
}

.iconTickOK {
  fill: var(--green-btn-normal);
}

.iconTickWait {
  fill: var(--status-new);
}

.problemAndSpares {
  display: flex;
  align-items: center;
  gap: 5px;
}

.noRecords {
  padding-left: 18px;
  color: var(--light-gray);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: 400;
}
