.searchBox {
  display: flex;

  width: 350px;
  height: 40px;
  padding: 7px 10px 7px 10px;

  align-items: center;
  gap: 10px;

  border-radius: 6px;
  background: var(--bg-input);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.77vh; /* 15px */
}

.circle {
  display: flex;
  width: 24px;
  height: 24px;

  padding: 6px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;

  border-radius: 12px;
  background-color: var(--main-gray);
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;

  color: var(--light-gray);
  outline: none;
}

.input::placeholder {
  text-align: center;
  color: var(--input-stroke);
}

.icon {
  cursor: pointer;
}
