.SavedSparesList {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 15px;
  margin: 0 auto 3.6vh;
  width: 378px;
}

.SavedSparesList::-webkit-scrollbar {
  width: clamp(5px, min(0.432vw, 0.741vh), 8px);
  /* width: 8px; */
}

.SavedSparesList::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg);
}

.SavedSparesList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.nodeName,
.subcatName {
  /* padding-left: 2px; */

  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  width: 170px;
  word-break: break-word;
}

.nodeName {
  padding: 5px 2px;
  margin-bottom: 10px;
}

.subcatList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subcatListItem {
  display: flex !important;
  width: 340px !important;
  padding: 10px 16px !important;
  justify-content: space-between !important;
  align-items: center !important;

  border-radius: 6px !important;
  background: var(--download-pdf-btn-bg) !important;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.item {
  width: 340px;
}

:global(.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expande) {
  min-height: unset !important;
}

.accordion {
  box-shadow: none !important;
  background-color: transparent !important;
  width: 318px !important;
}

.accordion span {
  display: flex;
  width: 100%;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}

.details {
  width: 340px !important;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 9px;
}

.iconCheck,
.icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease-in-out;
}

.rotated {
  transform: rotate(-180deg);
}

.iconCheck {
  fill: var(--download-pdf-btn-bg);
}

.icon {
  fill: var(--light-gray);
}

.circle {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 34px;
  background: var(--input-text);
}

.circleFilled {
  background-color: var(--green-btn-normal);
}

.noProblems {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.sparesNames {
  color: var(--light-gray);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.sparesListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sparesList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.iconWrench {
  fill: var(--red);
}

.itemSaved {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
}

.btnBoxCompleted {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  margin-bottom: 14px;
}