.wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.60vh; /* 30px */
}

.image {
  width: 80px;
  height: 64px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-right: 20px;
}

.statusStick {
  width: 4px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
  margin-right: 30px;
}

.stickDiag {
  background-color: var(--status-diag);
}

.stickRepair {
  background-color: var(--status-repair);
}

.stickDone {
  background-color: var(--green);
}

/* Car plate */
.carRegContainer {
  display: flex;
  align-items: center;
  /* gap: 12px; */
  width: 139px;
  height: 33px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #d9d9d9;

  margin-right: 17px;
}

.carRegCountry {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  width: 13px;
  height: 100%;

  background-color: #00349a;
  border-radius: 4px 0 0 4px;
}

.carRegFlag {
  width: 8px;
  height: 6px;

  margin-top: 8px;
}

.carRegNumber {
  width: 100%;
  color: var(--Dark-grey, #101010);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.carRegCountry {
  color: var(--white);

  font-family: 'Roboto', sans-serif;
  font-size: 6px;
  font-weight: 600;

  text-transform: uppercase;
}

.iconM {
  width: 24px;
  height: 24px;
  fill: var(--red);
}
