.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  align-items: center;
  max-height: 100%;
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.buttons {
  display: inline-flex;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  height: 41px;
  border-radius: 6px;
  background: var(--download-pdf-btn-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
}

.buttonActive {
  border: 1px solid var(--light-gray);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  /* align-items: flex-end; */
  /* gap: 7px; */

  border-radius: 6px;
  background: var(--green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 25px;
  height: 25px;
}