.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  /* padding: 57px 6px 12px 6px; */

  background-color: var(--bg-secondary);
}

/* .wrapperIsOpen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
} */

.title {
  display: flex;
  width: 310px;
  padding: 10px 16px;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 40px; */

  border-radius: 6px;
  background: #313540;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.subTitle {
  /* width: 300px; */
  /* height: 53px; */
  /* width: clamp(207px, min(16.216vw, 27.778vh), 300px); */
  /* height: clamp(35px, min(4.907vh, 16.216vw / 5.6604), 53px); */
  /* width: clamp(207px, 16.216vw, 300px);
  aspect-ratio: 5.66 / 1;
  max-height: 53px; */
  /* margin-top: 10px; */
  /* margin-bottom: clamp(6px, min(0.925vh, 0.54vw), 10px); */
  /* margin-bottom: 10px; */
  /* margin-bottom: clamp(6px, min(0.925vh, 0.54vw), 10px); */
  margin-left: auto;
  margin-right: auto;
  background: #3135407a;

  text-align: center;

  /* position: sticky;
  top: 5px; */

  z-index: 999;
}

.subTitle:not(:first-child) {
  margin-top: 20px;
}

.name,
.sides {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.name {
  width: 165px;
  margin-right: 33px;
}

.onlyName {
  width: 100%;
  margin-right: 0;
}

.subTName {
  font-size: 20px;
}

.sideL {
  margin-right: 59px;
}

.detailsItem {
  display: flex;
  width: 310px;
  height: 70px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.detailsItemFotItemWithOneBtn {
  gap: 15px;
}

.detailsItemOne {
  background-color: #30333e;
}

.detailsItem:nth-child(2n + 1) {
  background-color: #30333e;
}

.buttons {
  display: flex;
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnAlone {
  justify-content: end;
  width: 40px;
}

.btn {
  display: flex;
  width: 40px;
  height: 40px;

  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 6px;
  background: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}

.btnRed {
  background-color: var(--red);
}

.btnGreen {
  background-color: var(--green-btn-normal);
}

.subcategoryName {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;

  width: 205px;
}

.subcategoryNameWithOneBtn {
  /* width: 235px; */
}

.detailsList {
  /* height: 624px; */
  width: 318px;

  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 26px;
}

.detailsList::-webkit-scrollbar {
  width: 8px;
}

.detailsList::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg);
}

.detailsList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.icon {
  fill: var(--light-gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
