.sectionWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 378px;
  padding: 0 9px;
  margin-left: auto;
  margin-right: auto;
  gap: 3.11vh;
}

/* .topPart {
  display: flex;
  gap: 11px;

  margin-bottom: 32px;
}

.mechNameBox {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.name {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.paleText {
  color: var(--input-text);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.salaryInfoBox {
  width: 238px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.salaryPoint {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  color: var(--green);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.amountPossible {
  color: #ffff8c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */

.btnAddPhoto {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background-color: var(--green-btn-normal);
  border: none;
  border-radius: 6px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* margin-bottom: 25px; */
  /* margin-bottom: 3.11vh; */
  cursor: pointer;
}

.icon {
  fill: var(--light-gray);
  width: 18px;
  height: 18px;
}

.bottomPart {
  /* display: flex;
  justify-content: space-between;*/

  /* padding: 19px 9px 0; */
  padding: 2.36vh 9px 0;
  width: 100%;
  /* padding-top: 19px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;

  border-top: 1px dashed var(--main-gray);
}

.exitBox {
  display: flex;
  width: 27px;
  height: 27px;
  padding: 5px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;

  border-radius: 13.5px;
  background: var(--main-gray);

  grid-column: 1;
  justify-self: start;

  cursor: pointer;
}

.iconExit {
  fill: var(--light-gray);
  width: 16px;
  height: 16px;
}

.iconMessage {
  width: 24px;
  height: 24px;
  fill: var(--red);
}

.wage {
  color: var(--green);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  grid-column: 3;
  justify-self: end;
}
