.pageWrapper {
  max-width: 390px;
  height: calc(100dvh - 140px);
  padding: 14px clamp(5px, calc((100vw - 320px) * 0.357), 30px);
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

/* .scrollContainer {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-right: 15px;
} */

.pageWrapper::-webkit-scrollbar {
  width: 8px;
}

.pageWrapper::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg-secondary);
}

.pageWrapper::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background-color: var(--main-gray);
}

.header {
  color: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 91.667% */
  margin-bottom: 20px;
}

.carsWrapper {
  display: flex;
  /* width: 322px; */
  height: 172px;
  padding: 10px;
  flex-direction: column;
  gap: 8px;
  border-radius: 27px;
  background: var(--bg-secondary);
  overflow: hidden;
  margin-bottom: 20px;
}

.list {
  overflow-y: scroll;
  height: 100%;
  padding-right: 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.listItemWrapper {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  gap: 10px;
  padding: 9px 9px 18px 9px;
  align-items: center;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg-secondary);
}

.list::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background-color: var(--main-gray);
}

.carIcon {
  width: 25px;
  height: 20px;
  flex-shrink: 0;
  fill: var(--light-gray);
}

.carMake {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 129.412% */
}

.carMileage {
  color: #ebd534;
}

.line {
  width: 250px;
  height: 1px;
  background-color: #5e6068;
  align-self: center;
}

.cameraWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  height: 140px;
}

.cameraBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 145px;
  background-color: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cameraIcon {
  width: 54px;
  height: 43px;
}

.photoPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carPhoto {
  position: relative;
  width: 200px;
  height: 140px;
  overflow: hidden;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.carImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.check {
  left: 0;
  bottom: 0;
  background-color: var(--green-btn-normal);
}

.trash {
  top: 0;
  right: 0;
  background-color: var(--red);
}

.emptyDiv {
  width: 70px;
  height: 70px;
}

.video {
  width: 100%;
  height: calc(100dvh - 250px);
  margin-left: auto;
  margin-right: auto;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cameraOn {
  /* height: 532px; */
  height: 66.169vh;
  min-height: 461px;
}

.topWrapper {
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.carNumberWrapper {
  width: 161px;
  height: 100%;
  border-radius: 5px;
  border: 2px solid var(--black);
  overflow: hidden;
  display: flex;
}

.numberWrapper {
  width: 13px;
  height: 100%;
  background-color: #00349a;
  padding: 5px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flagText {
  color: var(--white);
  font-family: Raleway, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.number {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  padding: 2px;
  color: var(--Dark-grey, #101010);
  font-family: Roboto, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  border: none;
  outline: none;
}

.btn {
  width: 148px;
  height: 100%;
  border-radius: 6px;
  background-color: #0a84ff;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: var(--download-pdf-btn-bg);
  color: var(--input-text);
  cursor: auto;
}

.btn:hover {
  background-color: #0f4882;
}

.btnIcon {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWithPopup {
  position: relative;
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--download-pdf-btn-bg);
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input {
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--input-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--download-pdf-btn-bg);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textColor {
  color: var(--light-gray);
}

.placeholderColor {
  color: var(--input-text);
}

.arrow {
  width: 25px;
  padding: 4px 6px;
  height: 17px;
  border-radius: 6px;
  background-color: var(--bg-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrowIcon {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  fill: var(--icon-gray);
}

.arrowIconOpen {
  transform: rotate(180deg);
}

.mileageWrapper {
  /* height: 56px; */
  height: 5.35vh;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 1vh 16px;
  border-radius: 6px;
  background-color: rgba(67, 164, 141, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.mileageIcon {
  width: 18px;
  height: 17px;
  fill: #43a48d;
  flex-shrink: 0;
}

.mileage {
  background-color: transparent;
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mileage::placeholder {
  color: var(--input-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mileageText {
  color: #43a48d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.cameraVinIcon {
  width: 27px;
  height: 20px;
  cursor: pointer;
}

.vinWrapper {
  position: relative;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--red);
  font-size: 12px;
}

.saveBtn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #0a84ff;
  margin-top: 28px;
  margin-bottom: 10px;
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
}

.btnsWrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 70px 70px 70px;
  width: 100%;
  padding: 1vh 21px 0;
  margin-left: auto;
  margin-right: auto;
  align-items: end;
  /* margin-top: 100px; */
}

.cancelBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
}

.cross {
  fill: var(--bg-secondary);
}

.photoPreviewWrapper {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.photoQuantity {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--red);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  cursor: pointer;
}

.approveIconWrapper {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--green-btn-normal);
  cursor: pointer;
}

.approveIcon {
  width: 20px;
  height: 20px;
  fill: white;
}

.checkMark {
  fill: var(--bg-secondary);
}

.emptyDiv {
  width: 70px;
  height: 70px;
}

.carPhoto {
  height: 140px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
