.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal {
  background-color: var(--CRM-modal-SecondaryBG, #23252c);
  padding: 30px 24px;
  border-radius: 20px;
  width: 100%;
  max-width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke: var(--white);
}

.title {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.avatarLabel {
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarInput {
  display: none;
}

.input {
  width: 100%;
  margin-bottom: 16px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #5e6068;
  background-color: var(--bg-input);
  color: var(--white);
  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: #999;
}

.saveBtn {
  background-color: #0a84ff;
  color: var(--white);
  padding: 12px 24px;
  border: none;
  border-radius: 27px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.saveBtn:hover {
  background-color: #339dff;
}

.editIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  color: var(--light-gray);
}
