.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Calendar */

.datePickerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}

.datePaginationBtn {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(81, 85, 98, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.datePaginationBtn:disabled {
  cursor: not-allowed;
  background-color: rgba(81, 85, 98, 0.1);
}

.datePaginationBtn:disabled .btnIcon {
  color: var(--main-gray);
}

.btnIcon {
  width: 18px;
  height: 18px;
  color: var(--light-gray);
}

.dateWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 60px;
  margin-right: 60px;
}

.dateWrapper p {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.customInput {
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.customInput svg {
  width: 24px;
  height: 24px;
}

.chooseDate {
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Time Selector */

.timeBtn {
  width: 79px;
  height: 46px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875em;
  border: transparent;
}

.timeBtnFree {
  background: var(--main-gray);
  color: var(--white);
}

.timeBtnFree:hover {
  border: 6px solid var(--green-btn-normal);
  cursor: pointer;
}

.timeBtnChosen {
  background: var(--green-btn-normal);
  color: var(--white);
}

.timeBtnDisabled {
  background: var(--bg-input);
  color: var(--input-stroke);
}

.timeBtnDisabled:hover {
  cursor: not-allowed;
  border: none;
}

.timeBtn:disabled {
  background: var(--bg-input);
  color: var(--input-stroke);
}

.timeBtn:disabled:hover {
  cursor: not-allowed;
  border: none;
}

.timeWrapper {
  width: 100%;
  /* height: clamp(86px, min(11.944vh, 15.568vw / 2.233), 129px); */
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  row-gap: 6px;
  column-gap: 3px;
}

.recordBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 329px;
  height: 40px;
  padding: 10px 16px;
  flex-shrink: 0;
  border: none;

  border-radius: 6px;
  background-color: #0a84ff;
}

.calendar {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.btnText {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
