.recordBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 329px;
  height: 40px;
  padding: 10px 16px;
  flex-shrink: 0;
  border: none;

  border-radius: 6px;
  background-color: #0a84ff;
}

.calendar {
  width: 18px;
  height: 18px;
  fill: var(--light-gray);
}

.btnText {
  color: var(--light-gray);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
