.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}

.userInfo {
  display: flex;
  gap: 17px;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1875em;
}

.time {
  color: #828a9e;
  font-size: 14px;
  font-weight: 500;
}

.message {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  flex-wrap: wrap;
  gap: 10px;
  width: fit-content;
  margin-left: 45px;
  padding: 14px 16px;
  background: var(--bg-secondary);
  border-radius: 0px 12px 12px 12px;
}

.message>p,
.messageManager>p {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  max-width: 300px;
  white-space: normal;
  overflow-wrap: anywhere;
}

.managerInfo {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.messageManager {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
  margin-right: 45px;
  padding: 14px 16px;
  background: var(--blue);
  border-radius: 12px 0px 12px 12px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-top: 8px;
  cursor: pointer;
  object-fit: cover;
}

.audioPlayer {
  margin-top: 8px;
  width: 100%;
}

.downloadBtn {
  display: inline-flex;
  gap: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--white);
}

.downloadBtn:hover {
  text-decoration: underline;
}