.wrapper {
  /* width: 390px;
  padding-right: 31px;
  padding-left: 31px; */
}

.doneBox {
  display: flex;
  /* max-width: 329px; */
  width: 100%;
  padding: 10px 12px;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;

  border-radius: 6px;
  background-color: var(--bg-secondary);

  margin-bottom: 18px;
}

.workList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title,
.workName {
  color: var(--white);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.sumBox {
  display: inline-flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  background-color: rgba(75, 164, 67, 0.08);

  margin-bottom: 26px;
}

.receiptIcon {
  width: 18px;
  height: 18px;
  fill: var(--white);
}

.sum {
  color: #a1ffc5;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.photosPartTitle {
  color: var(--white);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;

  margin-bottom: 16px;
}

.cameraBtn {
  display: flex;
  width: 70px;
  height: 70px;
  /* padding: 40px 30px; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border: none;

  border-radius: 145px;
  background: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cameraIcon {
  /* width: 33px; */
  /* height: 25px; */
  flex-shrink: 0;
  aspect-ratio: 33/25;

  fill: var(--bg-secondary);
}

.carPhoto {
  width: 99px;
  height: 79px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.photosBox {
  width: 100%;
  display: flex;
  gap: 33px;
}

.photosList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.categoryTitle {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;

  margin-bottom: 8px;
}
