.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 275px;
  padding: 20px;
  background-color: #151616;
  border-radius: 8px;
}

.header {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.text {
  color: #8d8d8d;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginLabel {
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  line-height: 1.1818em;
  color: #e9e9e9;
}

.inputWithIconWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 20px;
  color: #6e6c77;
  width: 10px;
  height: 10px;
  fill: #6e6c77;
}

.input {
  background-color: #242525;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 1.2em;
  color: #e9e9e9;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  width: 100%;
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input:focus {
  outline: 1px solid #e9e9e9;
  border: none;
}

.input::placeholder {
  color: #615f68;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input:-webkit-autofill {
  background-color: #242525 !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px #242525 inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  background-color: #242525 !important;
  color: var(--white) !important;
  box-shadow: 0 0 0px 1000px #242525 inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.errorMsg {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1px;
}

.eyeIcon {
  position: absolute;
  right: 11px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  fill: #6e6c77;
  color: #6e6c77;
}

.link {
  color: #0096b7;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.submitBtn {
  background-color: #0096b7;
  height: 29px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9e9e9;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #00799b;
}
