.emptyDiv {
  width: 70px;
  height: 70px;
}

.video {
  width: 100%;
  height: calc(100dvh - 250px);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.video::-webkit-scrollbar {
  display: none;
}

.approveIconWrapper {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--green-btn-normal);
  cursor: pointer;
}

.deleteIcon {
  width: 27px;
  height: 27px;
}

.btnsWrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 70px 70px 70px;
  width: 100%;
  padding: 1vh 21px 0;
  margin-left: auto;
  margin-right: auto;
  align-items: end;
  /* margin-top: 100px; */
}

.cancelBtn,
.confirmBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
}

.confirmBtn {
  background-color: var(--green);
}

.cameraBtn {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 145px;
  background-color: var(--light-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cameraIcon {
  width: 54px;
  height: 43px;
}

.photoPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoPreviewWrapper {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.photoQuantity,
.deletePhoto {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--red);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  cursor: pointer;
}

.deletePhoto {
  width: 32px;
  height: 32px;
}

.carPhoto {
  /* width: 99px;
  height: 79px; */
  flex-shrink: 0;
  border-radius: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.photosList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 16px;
}

.photosItem {
  position: relative;
}

.noPhotos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--light-gray);
  font-size: 25px;
}
