.topPart {
  display: flex;
  /* gap: 11px; */
  justify-content: space-between;
  width: 100%;
  max-width: 378px;
  padding: 0 9px;
  /* margin-bottom: 29px; */
  margin-bottom: 3.60vh;
  margin-left: auto;
  margin-right: auto;
}

.mechNameBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 162px;
  /* gap: 19px; */
}

.name {
  color: var(--light-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.paleText {
  color: var(--input-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}

.salaryInfoBox {
  width: 187px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 5px; */
}

.salaryPoint {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  color: var(--green);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875em;
}

.amountPossible {
  color: #ffff8c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
