:root {
  /* backgrounds */
  --bg: #17181c;
  --bg-secondary: #23252c;
  --bg-input: #2d3038;
  --player-secondary-bg: #4e505f;
  --current-mileage-bg: #43a48d14;
  --last-service-mileage-bg: #a4704314;
  --visit-date-bg: #c38ce614;
  --contacts-info-bg: #373941;

  /* btns colors */
  --green-btn-normal: #008000;
  --green-btn-hover: #005900;
  --green-btn-inactive: #002500;
  --blue-btn-normal: #3956cc;
  --blue-btn-hover: #1c2e78;
  --blue-btn-inactive: #171d35;
  --play-btn-triangle: #00a3ff;
  --download-pdf-btn-bg: #313540;

  /* other elements or text colors */
  --white: #fff;
  --black: #000000;
  --light-gray: #d8e1ff;
  --light-gray-table: #d8e1ff40;
  --main-gray: #515562;
  --dark-gray: #434650;
  --text-gray: #959595;
  --green: #008000;
  --blue: #3956cc;
  --red: #d54e4f;
  --mint: #a1ffc5;
  --icon-gray: #c7c7c7;
  --star-orange: #f9b068;
  --star-white: #fff8f1;
  --client: #70ab87;
  --input-stroke: #4a4a4a;
  --input-text: #767b88;
  --drop-menu: #242d43;
  --current-mileage-text: #43a48d;
  --last-service-mileage-text: #a97742;
  --stats-all: #465d9b;
  --CRM-modal-hover: #383c46;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--bg);
  overflow-x: hidden;
  margin: 0;

  min-width: 320px;
  /* min-height: 100vh; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  box-shadow: none;
}

a {
  text-decoration: none;
}
