:root {
  /* backgrounds */
  --bg: #17181c;
  --bg-secondary: #23252c;
  --bg-input: #2d3038;
  --player-secondary-bg: #4e505f;
  --current-mileage-bg: #43a48d14;
  --last-service-mileage-bg: #a4704314;
  --visit-date-bg: #c38ce614;
  --contacts-info-bg: #373941;

  /* btns colors */
  --green-btn-normal: #008000;
  --green-btn-hover: #005900;
  --green-btn-inactive: #002500;
  --blue-btn-normal: #3956cc;
  --blue-btn-hover: #1c2e78;
  --blue-btn-inactive: #171d35;
  --play-btn-triangle: #00a3ff;
  --download-pdf-btn-bg: #313540;

  /* other elements or text colors */
  --white: #fff;
  --black: #000000;
  --light-gray: #d8e1ff;
  --light-gray-table: #d8e1ff40;
  --main-gray: #515562;
  --dark-gray: #23252c;
  --text-gray: #959595;
  --green: #008000;
  --blue: #3956cc;
  --red: #d54e4f;
  --mint: #a1ffc5;
  --icon-gray: #c7c7c7;
  --star-orange: #f9b068;
  --star-white: #fff8f1;
  --client: #70ab87;
  --input-stroke: #4a4a4a;
  --input-text: #767b88;
  --drop-menu: #242d43;
  --current-mileage-text: #43a48d;
  --last-service-mileage-text: #a97742;
  --stats-all: #465d9b;
  --CRM-modal-hover: #383c46;

  /* statuses */
  --status-new: #ebd534;
  --status-diag: #6b84ff;
  --status-repair: #b25bc2;
  --status-complete: #53c178;
  --status-view-repair: #e76767;
  --status-all: #6be9ff;

  --status-archive-light-blue: #678fe7;
  --status-archive-violet: #d167e7;

  --glow-repair: #d926e9;
  --glow-diag: #265de9;
  --glow-complete: #71e926;
  --glow-new: #e9d226;
  --glow-view-repair: #e92626;
  --glow-all: #26b5e9;
  --glow-all-calls: #00a3ff;

  --glow-archive-light-blue: #2674e9;
  --glow-archive-violet: #cf26e9;

  /* calendar */
  --calendar-gray: #4a4a4a;
  --dark-orange: #755d45;
  --mid-orange: #a97742;
  --orange: #db8120;

  /* gradients */
  --border-gradient-new: linear-gradient(
    45deg,
    #f5dd23 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #dbc624 90%
  );
  --border-gradient-diag: linear-gradient(
    45deg,
    #3956cc 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #3956cc 90%
  );
  --border-gradient-repair: linear-gradient(
    45deg,
    #994ca5 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #994ca5 90%
  );
  --border-gradient-complete: linear-gradient(
    45deg,
    #246d4d 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #246d4d 90%
  );
  --border-gradient-invoices: linear-gradient(
    45deg,
    #3cff00 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #3cff00 90%
  );
  --border-gradient-invoices-red: linear-gradient(
    45deg,
    #f5292c 10%,
    #2b2c2c 16%,
    #23252c 85%,
    #f5292c 90%
  );

  --status-gradient-archive-light-blue: linear-gradient(
    90deg,
    rgba(76, 104, 165, 0.3) 0%,
    rgba(38, 116, 233, 0) 100%
  );
  --status-gradient-archive-violet: linear-gradient(
    90deg,
    rgba(153, 76, 165, 0.3) 0%,
    rgba(233, 38, 220, 0) 100%
  );

  --status-gradient-new: linear-gradient(90deg, #95a54c4d 0%, #e9d92600 100%);
  --status-gradient-diag: linear-gradient(90deg, #4154b04d 0%, #2654e900 100%);
  --status-gradient-repair: linear-gradient(
    90deg,
    #994ca54d 0%,
    #ab26e900 100%
  );
  --status-gradient-complete: linear-gradient(
    90deg,
    #4ca54c4d 0%,
    #3de92600 100%
  );
  --status-gradient-view-repair: linear-gradient(
    90deg,
    #a54f4c4d 0%,
    #e9362600 100%
  );
  --status-gradient-all: linear-gradient(
    90deg,
    rgba(65, 156, 176, 0.3) 0%,
    rgba(38, 226, 233, 0) 100%
  );
  --status-gradient-all-calls: linear-gradient(
    90deg,
    rgba(65, 143, 176, 0.3) 0%,
    rgba(38, 174, 233, 0) 100%
  );
  --master-gradient-diag: linear-gradient(90deg, #4154b04d 0%, #2654e900 100%);
  --master-gradient-repair: linear-gradient(
    90deg,
    #994ca54d 0%,
    #ab26e900 100%
  );

  --current-status-gradient-new: linear-gradient(
    270deg,
    #95a54c4d 0%,
    #e9d92600 100%
  );
  --current-status-gradient-diag: linear-gradient(
    270deg,
    #4154b04d 0%,
    #2654e900 100%
  );
  --current-status-gradient-repair: linear-gradient(
    270deg,
    #994ca54d 0%,
    #ab26e900 100%
  );
  --current-status-gradient-complete: linear-gradient(
    270deg,
    #4ca54c4d 0%,
    #3de92600 100%
  );
  --current-status-gradient-view-repair: linear-gradient(
    270deg,
    #a54f4c4d 0%,
    #e9362600 100%
  );

  --current-status-gradient-new: linear-gradient(
    270deg,
    #95a54c4d 0%,
    #e9d92600 100%
  );
  --current-status-gradient-diag: linear-gradient(
    270deg,
    #4154b04d 0%,
    #2654e900 100%
  );
  --current-status-gradient-repair: linear-gradient(
    270deg,
    #994ca54d 0%,
    #ab26e900 100%
  );
  --current-status-gradient-complete: linear-gradient(
    270deg,
    #4ca54c4d 0%,
    #3de92600 100%
  );
  --current-status-gradient-view-repair: linear-gradient(
    270deg,
    #a54f4c4d 0%,
    #e9362600 100%
  );

  /* Tags palette */
  --dark-green-bg: #164b35;
  --dark-green-text: #6ad7bd;
  --mid-green-bg: #216e4e;
  --mid-green-text: #b8ffe1;
  --light-green-bg: #4bce97;
  --light-green-text: #1c553d;
  --dark-blue-bg: #09326c;
  --dark-blue-text: #e5f0ff;
  --mid-blue-bg: #0055cc;
  --mid-blue-text: #e8f1ff;
  --light-blue-bg: #579dff;
  --light-blue-text: #002c69;
  --dark-yellow-bg: #533f04;
  --dark-yellow-text: #fff4d3;
  --mid-yellow-bg: #7f5f01;
  --mid-yellow-text: #ffffff;
  --light-yellow-bg: #e2b203;
  --light-yellow-text: #4e3d00;
  --dark-aqua-bg: #164555;
  --dark-aqua-text: #c0efff;
  --mid-aqua-bg: #206a83;
  --mid-aqua-text: #c8f1ff;
  --light-aqua-bg: #6cc3e0;
  --light-aqua-text: #024a62;
  --dark-orange-bg: #702e00;
  --dark-orange-text: #ffd8bd;
  --mid-orange-bg: #a54800;
  --mid-orange-text: #ffeee0;
  --light-orange-bg: #fea362;
  --light-orange-text: #592500;
  --dark-khaki-bg: #37471f;
  --dark-khaki-text: #ddffa9;
  --mid-khaki-bg: #4c6b1f;
  --mid-khaki-text: #e0ffb4;
  --light-khaki-bg: #94c748;
  --light-khaki-text: #305100;
  --dark-red-bg: #5d1f1a;
  --dark-red-text: #ffdfdc;
  --mid-red-bg: #ae2e24;
  --mid-red-text: #ffe2e0;
  --light-red-bg: #f87168;
  --light-red-text: #3a0400;
  --dark-pink-bg: #50253f;
  --dark-pink-text: #ffd3ee;
  --mid-pink-bg: #943d73;
  --mid-pink-text: #ffdcf2;
  --light-pink-bg: #e774bb;
  --light-pink-text: #590037;
  --dark-violet-bg: #352c63;
  --dark-violet-text: #e0daff;
  --mid-violet-bg: #5e4db2;
  --mid-violet-text: #e4dfff;
  --light-violet-bg: #9f8fef;
  --light-violet-text: #0c0047;
  --dark-grey-bg: #454f59;
  --dark-grey-text: #d3e9ff;
  --mid-gray-bg: #596773;
  --mid-gray-text: #edf7ff;
  --light-gray-bg: #8c9bab;
  --light-gray-text: #002751;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/src/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--bg);
  overflow-x: hidden;
  margin: 0;

  min-width: 320px;
  /* min-height: 100vh; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  box-shadow: none;
}

a {
  text-decoration: none;
}
