.wrapperDiag {
  display: flex;
  flex-direction: column;
  /* height: 570px; */
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.wrapperDiag::-webkit-scrollbar {
  width: 4px;
  padding-top: 4px;
}

.wrapperDiag::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--bg);
}

.wrapperDiag::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-gray);
}

.photoSectionWrapper {
  /* height: 477px; */
  /* flex-grow: 1; */
  flex: 1 1 auto;

  min-height: 130px;
  /* max-height: 580px;
    max-height: 72.139vh; */
  width: 100%;
  display: grid;
  grid-template-columns: 161px 161px;
  grid-auto-rows: 130px;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  place-items: center;
}

.photoSectionWrapper::-webkit-scrollbar {
  width: 4px;
  padding-top: 4px;
  /* height: 477px; */
}

.photoSectionWrapper::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 4px;
}

.photoSectionWrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
  border-radius: 4px;
}

.photoWrapper {
  position: relative;
  width: 161px;
  height: 130px;
  overflow: hidden;

  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.deleteBtn {
  position: absolute;
  width: 29px;
  height: 29px;
  border: none;
  border-radius: 52px;
  background: var(--red);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.deleteBtnIcon {
  width: 18px;
  height: 18px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cross {
  fill: var(--bg-secondary);
}

.cancelBtn {
  max-width: 70px;
  max-height: 70px;
  width: 8.706vh;
  height: 8.706vh;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
  /* margin-right: auto;
  margin-left: auto; */
}
